/* Basic global styles */
html, body, #__next {
  height: 100%;
}

html, body {
  padding: 0;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

code {
  background: #f4f4f5;
  padding: 0.15rem 0.35rem;
  border-radius: 4px;
}

